$main: #47B1E6;
@media screen and (min-width: 320px) and (max-width: 480px) {
  body{
    margin: 0;
    padding: 0;
  } 
  .header {
    display: flex;
    flex-direction: row;

    width: 100%;
    .time {
      width: 20%;
    }
    p {
      margin-left: 21px;
      margin-top: 14px;
      font-size: 15px;
      font-weight: 600;
    }
    .widgets {
      width: 80%;
      margin-right: 19px;
      span {
        margin-top: 17px;
        float: right;
        img{
          margin-left: 5px;
        }
      }
    }
  }
  .App {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
    background-color: $main;
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("/imgs/bg1.png"), url("/imgs/bg2.png"); 
    background-repeat: no-repeat, no-repeat;
    background-position-x: right, left;
    background-position-y: top, 120px;

  .select_town {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-top: 16px;
    margin-left: 5px;
    #location {
      margin: 11px;
      height: 22px;
    }
  }
  .weather_cloud{
    text-align: center;
  }
  a{
    text-decoration: none;
    color: $main;
  }
  #choose{
    background-color: white;
    color: $main;
    outline: none;
    border: none;
    width: 198px;
    height: 56px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 36px;
    left: 88px;
  }
}

  .Search{
    background-color: white;
    color: black;

    .search_town{
      position: absolute;
      width: 343px;
      height: 48px;
      left: 16px;
      top: 44px;
      box-shadow: 0px 0px 2px rgba(11, 26, 34, 0.26);
      border-radius: 16px;
      display: flex;
      a{
        width: 15%;
        img{
          margin-top: 16px;
          margin-left: 20px;
        height: 16px;
        }        
      }
      input{
        width: 70%;
        outline: none;
        border: none;
        :focus{outline: none;}
        :active{outline: none;}
        ::placeholder{
          color: red;
          font-size: 16px;
          font-weight: 400;
        }
      }
      span{
        width: 15%;
        #find_loco{
          margin-top: 14px;
          margin-left: 13px;
          // margin-right: 18px;
          height: 20px;
        }
      }
     
    }
    .search_blank{
      position: absolute;
      width: 343px;
      height: 24px;
      left: calc(50% - 343px/2);
      top: calc(50% - 24px/2 + 0.5px);
      font-size: 16px;
      color: rgba(180, 180, 180, 1);
      font-weight: 400;
      text-align: center;
    }
  }
}